*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contact-container{
    padding: 1rem 5rem;
    background: linear-gradient(to right, var(--lightGreen), var( --blueGrey));
    text-align: center;
    min-height: 90vh;
}

.contact-container .contact h1{
    padding: 1rem 0;
    font-size: 45px;
    color: var(--lightBlack);
}

.contact-container .contact #img{
    max-width: 700px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 0.1rem;
    border-radius: 50%;
}

.contact-container .contact .links{
    padding: 0.3rem 0;
}

.contact-container .contact .links a{
    text-decoration: none;
    color: black;
    padding: 0 0.4rem;
    font-size: 20px;

}

.contact-container .contact .links a #github:hover,
.contact-container .contact .links a #mail:hover{
    font-size: 25px;
}

.contact-container .contact .links a #linkedin:hover,
.contact-container .contact .links a #twitter:hover{
    color: blue ;
}

.contact-container .contact .download{
    padding: 1rem 0;
}

.contact-container .contact .download .btn{
    border: none;
    background: var(--lightBlack);
    color: var(--blueGrey);
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 18px;
}

.contact-container .btn:hover{
    opacity: 0.8;
}