*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-container-toggle{
    padding-top: 10rem;
}

.home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8.5rem 5rem;
    background: linear-gradient(to right, var(--lightGreen), var( --blueGrey));
}

.home-container .text{
    flex: 1;
    color: var(--lightBlack);
}

.home-container .text h1{
    font-size: 80px;
    margin-bottom: 0.3rem;
    font-family: cursive;
    /* border: 1px solid; */
}

.home-container .text h2{
    margin-bottom: 0.5rem;
    font-family: cursive;
}

.home-container .text p{
    line-height: 1.4;
    font-size: 20px;
}

.home-container #img{
    max-width: 700px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 0.1rem;
    border-radius: 50%;
}

.home-container .text .hire-btn{
    padding: 0.9rem 0;
}

.home-container .text .hire-btn .hire,
.home-container .text .hire-btn .learn{
    border: none;
    background: var(--lightBlack);
    color: var(--blueGrey);
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 18px;
}

.home-container .text .hire-btn .hire:hover,
.home-container .text .hire-btn .learn:hover{
    opacity: 0.8;
}

.home-container .text .hire-btn .learn{
    margin: 0 0.5rem 0 0;
}

/* media query */

@media screen and (max-width: 768px) {
    .home-container{
        padding: 2.5rem 5rem;
    }

    .home-container .text{
        text-align: center;
    }
    .home-container .image1{
        display: none ;
    }
}