:root{
    --lightBlack: #0D192F;
    --lightGrey: #CDD8F3;
    --blueGrey: #8893AF;
    --lightGreen: #87DDD0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    min-height: 10vh;
    background: linear-gradient(to right, var(--lightGreen), var( --blueGrey));
    /* border-bottom: 1px solid var(--lightBlack); */
}

.nav-container .logo{
    flex: 1;
}

.nav-container .logo .mobile{
    display: none;
}

.nav-container .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.nav-container .nav-links li{
    list-style-type: none;
}

.nav-container #link{
    text-decoration: none;
    /* color: var(--lightGrey); */
    color: var( --lightBlack);
}

.nav-links #link:hover{
    text-decoration: underline;
}

/* icons */

#bars{
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--lightBlack);
    font-size: 20px;
}

#react{
    animation: react 10s linear infinite;
    font-size: 25px;
    
}

@keyframes react {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    .nav-container .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-container .logo .mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0.7;
    }

    .nav-container .nav-links{
        display: none;
    }
}