*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.project-container{
    min-height: 90vh;
    padding: 2rem 5rem;
    background: linear-gradient(to right, var(--lightGreen), var( --blueGrey));
}

.project-container h1{
    text-align: center;
    padding: 0.5rem 0;
    color: var(--lightBlack);
    font-family: cursive;
    font-size: 50px;
}


.project-container h4{
    text-align: center;
    padding: 0.5rem 0;
    line-height: 1.5;
    color: var(--lightBlack);
    font-family: cursive;
    font-size: 25px;
}

.project-container p{
    line-height: 1.4;
    font-size: 25px;
    color: var(--lightBlack);
}

.project-container .projects{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.project-container .projects .project-card{
    padding: 1rem 2rem;
    border: 1px dashed var(--lightBlack);
    border-radius: 1rem;
    text-align: center;
    width: 500px;
    margin: 0.5rem 1rem;
    cursor:cell;
    transition: width 2s, height 2s, transform 2s, ease-in-out 2s;
}

.project-container .projects .project-card:hover{
    padding: 3.5rem;
}

.project-container .projects .project-card .btn{
    border: none;
    background: var(--lightBlack);
    color: var(--blueGrey);
    font-weight: 400;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 18px;
    margin: 0.5rem 0 ;
    transition: 0.5s;
}

.project-container .projects .project-card .btn:hover{
    opacity: 0.7;
}

.project-container .projects .project-card a{
    text-decoration: none;
}