.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100%;    
    transition: 850ms;
}

.sidebar-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    transition: 1050ms;
    height: 30vh;
    width: 100%;
    margin-top: 10px;
}

#nav-list{
    margin-bottom: 15px;
}


/* ADDITIONAL STYLES */

#archive-card:hover{
    transform: translateY(-5px);
}

#resume-btn:hover{
    box-shadow: 1px 1px 5px #48B8A5;
}

#archive-card{
    box-shadow: 1px 1px 5px #48B8A5;
    transition: ease-in-out 0.5s;
}

/* ADDITIONAL STYLES FINISH */





        /* HAMBURGER LIBRARY */

/* .bm-burger-bars{
    background: #48B8A5;
}

.bm-burger-button{
    display: none;
    position: absolute;
    width: 25px;
    height: 20px;
    top: 20px;
    right: 35px;
}

.bm-cross{
    background: #48B8A5;
}

.bm-cross-button{
    height: 35px;
    width: 35px;
}

.bm-menu{
    background: #112240;
    padding: 2.5rem 1.5rem;
    width: 100%;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: lightGrey;
}

.bm-icon{
    color: #48B8A5;
    background: #48B8A5;
}

#nav-list{
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
  .bm-burger-button{
        display: block;
    }
} */

/* HAMBURGER LIBRARY */