.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100%;    
    transition: 850ms;
}

.sidebar-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    transition: 1050ms;
    height: 30vh;
    width: 100%;
    margin-top: 10px;
}

#nav-list{
    margin-bottom: 15px;
}

/* FOR HAMBURGER */

.menuOpen-active{
    display: none;
}

.menuOpen{
    display: block;
    color:#48B8A5 ;
    font-size: 30px;
    cursor: pointer;
}

.menuOpen:hover{
    opacity: 0.8;
}

.menuClose{
    display: none;
}

.menuClose-active{
    display: block;
    color:#48B8A5 ;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.menuClose-active:hover{
    transform: rotate(90deg);
 
}



/* FOR HAMBURGER */




/* ADDITIONAL STYLES */

#archive-card:hover{
    transform: translateY(-7px);
}

#resume-btn:hover{
    box-shadow: 1px 1px 5px #48B8A5;
}

#archive-card{
    box-shadow: 1px 1px 5px #48B8A5;
    transition: ease-in-out 0.5s;
}

/* ADDITIONAL STYLES FINISH */
