.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    transition: all 0.5s ease-in-out;
    height: 100vh;
    width: 75%;
    background-color: #112240;
}

.sidebar-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: all 0.5s ease-in-out;
    left: 0;
    width: 75%;
    z-index: 10;
    height: 100vh;
    background-color: #112240;
}

/*hamburger */
.hamburger-div-hover{
    cursor: pointer;
}

.hamburger-div{
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {
    .hamburger-div{
        display: block;
        cursor: pointer;
    }
}

.hamburger-span{
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    background-color: #48B8A5;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}

.hamburger-div .hamburger-span:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}
.hamburger-div .hamburger-span:nth-child(2){
    opacity: 0;
}
.hamburger-div .hamburger-span:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
}