@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* STYLES FOR ARCHIVE */
#archive-card:hover {
  transform: translateY(-7px);
}

#resume-btn {
  transition: 0.5s;
}

#resume-btn:hover {
  transform: scale(1.05);
}

#archive-card {
  box-shadow: 1px 1px 5px #48b8a5;
  transition: ease-in-out 0.5s;
}

/* Home component h3 style */
.home-h3 {
  word-spacing: 5px;
}

/* MUI STYLES */

.MuiTabList-indicator {
  color: "#48B8A5",
}