@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* STYLES FOR ARCHIVE */
#archive-card:hover {
  transform: translateY(-7px);
}

#resume-btn {
  transition: 0.5s;
}

#resume-btn:hover {
  transform: scale(1.05);
}

#archive-card {
  box-shadow: 1px 1px 5px #48b8a5;
  transition: ease-in-out 0.5s;
}

/* Home component h3 style */
.home-h3 {
  word-spacing: 5px;
}